body{
    font-family: Roboto;
}
.one{
    background-color: #1f2937;
    display: flex;
    margin: none;
    justify-content: center;
    
}
.image{
    width: 500px;
}
ul{
    display: flex;
    list-style: none;
    padding: 0px;
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 8px;
    margin-bottom: 100px;
    gap: 15px;
    
}
.main_text{
    width: 450px;
    font-size: 18px;
    color: #e5e7eb;
}
.one_one{
    margin-right: 40px;
    margin-bottom: 100px;
}
.one_two{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 100px;
}
.header_logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 100px;
}
.extra_large{
    width: 400px;
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}
.button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px; 
    border-style: none;
    width: 130px;
    height: 30px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}
.box{
    width: 160px;
    height: 160px;
    border-color: #3882f6;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
}
.two{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}
.all_boxes{
    display: flex;
    gap: 50px;
}
.box_container{
    width: 170px;
    text-align-last: center;
    margin-bottom: 100px;
}
.subtext{
     font-size: 18px;
}
.random_info{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-top: 40px;
    margin-bottom: 40px;
}


